.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
ion-content{
  --background: url('../../assets/icon/bg.jpg') no-repeat 100% center/cover;;
  background-size: cover;
  //--background:#d1eaf1
}
ion-toggle {
  zoom:1.6;
  --handle-background:#4e91a4;
  --background:#b4d9e2;
  --background-checked:#4e91a4;
}
.powr{
  font-size:14px;
  color:#26393f;
  font-weight:bold;
}
.width-logo{
  // width: 110px;
   float: left;
  height:37px;
  margin-top:5px;
}
.width-logo1{
  // width: 100px;
  float: right;
  height:47px;
}
.footer-text{
margin:10px;
color: #333;
    font-size: 15px;
}
.rsnge1{
  margin-top:40px;
  // margin-bottom:40px;
}
.humidity{
  font-size:18px;
  color:#26393f;
  font-weight:bold;
}
ion-range{
  --bar-height:7px;
  // --height:7px;
  --knob-size:30px;
  --knob-border-radius:30px;
  --bar-border-radius:6px;
}
.m--{
margin-top:16px;
}
.p-0{
  padding:0 !important;
}
.font{
  font-size:12px;
  margin-bottom:20px
}
.m-top{
  margin-top:8px;
}
.img-float{
  float: right;
  margin-top:20px;
}
.center{
  text-align: center;
}
.wrap {
  height: 200px;
  width: 200px;
  margin:auto;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin-top:20px !important;
  // margin-bottom: 20px !important;
  transform: rotate(45deg);
}
.quart {
  position: absolute;
  height: 100%;
  width: 100%;
  background:#b7d6e1;
  transition: all 0.4s;
}
.quart:first-child {
  top: 0;
  left: 0;
}
.quart:nth-child(2) {
  top: 0;
  left: 75%;
}
.quart:nth-child(3) {
  top: 75%;
  left: 0;
}
.quart:nth-child(4) {
  top: 50%;
  left: 50%;
}
.center {
  height: 80%;
  width: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  background: #95cada;
  border-radius: 50%;
  text-align: center;
  line-height: 160px;
}
.quart:hover {
  background: #4e91a4;
}
.last-m{
  margin-top:40px;
  margin-bottom:10px;
}
.img-position{
  z-index: 9999;
    position: absolute;
    top: 36%;
    left: 33%;
}
.foote{
  background: #ffe264;
  height:61px;
}

.value-center-col{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
}
.chart-style{
  background: #fff;
  border-radius: 5px;
}

.new-style-val{
  height: 140px;
  background: #fce484;
  border-radius: 5px;
  border: 5px solid #f1c90d;
}

.fs-40{
  font-size:40px !important;
}
.fs-32{
  font-size:32px !important;
}
.fs-18{
  font-size:18px !important;
}
.first-color{
  color:#0B9962;
}

.second-color{
  color: red;
}

.fs-16{
  font-size: 16px !important;
}

.pdtop-5{
  padding-top: 5px;
}
// @media only screen 
//     and (min-device-width : 706px) // or 213.4375em or 3in or 9cm
//     and (max-device-width : 422px) // or 41.6875em
//     and (width : 706px) // or 41.6875em
//     and (height : 422px) // or 23.4375em
//     and (orientation : landscape) 
    
//     // and (device-aspect-ratio : 375/667)
//     // and (aspect-ratio : 667/375)
//     // and (device-pixel-ratio : 2)
//     // and (-webkit-min-device-pixel-ratio : 2)
// { .chart{
//   height:350px;
// } }
.chart
{
  height:670px;
}
@media screen and (orientation: portrait) {
  .chart {
    
    height: 670px;
  }
}

@media screen and (orientation: landscape) {
  .chart {
    
    height: 380px;
  }
}


// @media only screen 
//     and (min-device-width : 375px) // or 213.4375em
//     and (max-device-width : 667px) // or 41.6875em
//     and (width : 375px) // or 23.4375em
//     and (height : 559px) // or 34.9375em
//     and (orientation : portrait) 
   
//     and (device-aspect-ratio : 375/667)
//     and (aspect-ratio : 375/559)
//     and (device-pixel-ratio : 2)
//     and (-webkit-min-device-pixel-ratio : 2)
// { 
//   .chart
// {
//   height:670px;
// }
//  }